@model IEnumerable<SearchAPI.Models.RecordTrack>;

@{
    ViewData["Title"] = "Click Details";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form asp-controller="Home" asp-action="About" method="get">
    <p>
        Search: <input type="text" name="SearchString">
        <input type="submit" value="Filter"/>
    </p>
</form>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TrackID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClickCount)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrackID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClickCount)
            </td>
        </tr>
    }
    </tbody>
</table>
